[#include "/common/taglibs.html"/]
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">
				修改权限(<font color="red">权限代码和权限链接格式一样,如:back/user/create</font>)
			</h4>
		</div>
		[@form.form commandName="updateDTO" method="POST" class="form-horizontal form"]
		<div class="modal-body">
			[@spring.bind path="parentPermissionId"]
			<input type="hidden" id="${status.expression}" name="${status.expression}" value="${status.value!}">
			[/@spring.bind]
			[@spring.bind path="floor"]
			<input type="hidden" id="${status.expression}" name="${status.expression}" value="${status.value!}">
			[/@spring.bind]
			<div class="control-group form-group">
				<label class="control-label">操作名称:</label>
				<div class="controls">
					[@spring.bind path="permissionName"]
					<input id="${status.expression}" name="${status.expression}" type="text" value="${status.value!}" class="form-control input-s-xlg">
					[/@spring.bind]
				</div>
			</div>
			<div class="control-group form-group">
				<label class="control-label">权限代码:</label>
				<div class="controls">
					[@spring.bind path="code"]
					<input id="${status.expression}" name="${status.expression}" type="text" value="${status.value!}" class="form-control input-s-xlg">
					[/@spring.bind]
				</div>
			</div>
			<div class="control-group form-group">
				<label class="control-label">权限链接:</label>
				<div class="controls">
					[@spring.bind path="path"]
					<input id="${status.expression}" name="${status.expression}" type="text" value="${status.value!}" class="form-control input-s-xlg">
					[/@spring.bind]
				</div>
			</div>
			<div class="control-group form-group">
				<label class="control-label">权限类型:</label>
				<div class="controls">
					<!--<select id="permissionType"  name="permissionType" class="bs-select form-control input-s-xlg"
							onchange="gradeChange()" aria-required="required:true">
						<option value="权限">权限</option>
						<option value="菜单">菜单</option>
					</select>-->
					[@spring.bind path="permissionType"]
					<select id="${status.expression}" name="${status.expression}" onchange="gradeChange()"
							class="bs-select form-control input-s-xlg" aria-required="required:true">
						[#list enums["com.hitler.entity.PayPermission$PermissionType"]?values as item]
						<option value="${item.name()}" [#if item.name()==status.value]selected="selected"[/#if]>
							${item.name()}
						</option>
						[/#list]
					</select>
					[/@spring.bind]
				</div>
			</div>
			<div id="div-icon" style="display:none" class="control-group form-group">
				<label class="control-label">图&nbsp;&nbsp;&nbsp;&nbsp;标:</label>
				<div class="controls">
					[@spring.bind path="icon"]
					<input id="${status.expression}" name="${status.expression}" type="text" value="${status.value!}" class="form-control input-s-xlg">
					[/@spring.bind]
				</div>
			</div>
			<div class="control-group form-group">
				<label class="control-label">排&nbsp;&nbsp;&nbsp;&nbsp;序:</label>
				<div class="controls">
					[@spring.bind path="deep"]
					<input id="${status.expression}" name="${status.expression}" type="text" value="${status.value!}" class="form-control input-s-xlg">
					[/@spring.bind]
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" class="btn btn-success">保存</button>
		</div>
		[/@form.form]
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var icon='${updateDTO.icon}';
		if(icon!=null && icon!=""){
			$("#div-icon").show();
		}
	})
	$("#updateDTO").validate({
		rules:{
			permissionName:"required",
			code:"required",
			path:"required",
			deep:"required"

		},
		messages:{
			permissionName:"不能为空",
			code:"不能为空",
			path:"不能为空",
			deep:"不能为空"
		}
	})
	function gradeChange(){
		var select=$("#permissionType").find("option:selected").text();
		if(select.indexOf('菜单') >= 0) {
			$("#div-icon").show();
		}else{
			$("#div-icon").hide();
			$("#icon").attr("value","");
		}
	}
</script>