[#include "/common/taglibs.html"/]
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true"></button>
			<h4 class="modal-title">修改支付银行</h4>
		</div>

		<div class="modal-control">
			[@form.form commandName="updateDTO" method="POST"
			class="form-horizontal"] <input type="hidden" name="format"
				value="json"> <input type="hidden" name="rebatePoint"
				value="7.8">
			   <input type="hidden" name="id"
				value="${id}">
			 
				 <div class="modal-body">
				<div class="form-body">
				 
				 <div class="form-group">
						<label class="col-md-3 control-label">支付类型</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="payPlatformId.id"]    
								<select  id="${status.expression}"  name="${status.expression}" class="bs-select form-control input-s">
                                [#list payplatformList  as item]
                                <option value="${item.id}"  [#if status.value==item.id] selected="selected" [/#if]>${item.name}</option>
                                [/#list]
                                </select>
                                 [/@spring.bind]
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">对应银行</label>
						<div class="col-md-9">
							<div class="input-icon"> 
								[@spring.bind path="bankId.id"]  
                               <select  id="${status.expression}"  name="${status.expression}" class="bs-select form-control input-s">
                                [#list payBankList as item]
                                <option value="${item.id}"  [#if status.value==item.id] selected="selected" [/#if]>${item.name}</option>
                                [/#list]
                                </select>
                             [/@spring.bind]
							</div>
						</div>
					</div>
					
					<div class="form-group">
				 	<label class="col-md-3 control-label">第三方支付类型code</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="payCode"] <input id="${status.expression}"  value="${status.value!}" 
									name="${status.expression}" type="text" class="form-control"
									placeholder="请输入第三方支付类型code"> [/@spring.bind]
							</div>
						</div>
					</div>
				 		
				</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn blue btn-success">提交</button>
				</div>
				[/@form.form]
			</div>
		</div>
	</div>

	<script type="text/javascript">
 

		$('#updateDTO').validate({
			rules : {

				payCode : {
					required : true
				} 
			},
			messages : {
				payCode : {
					required : "第三方支付类型code不能为空！",
				} 
			}
		});

		$(function() {
		});
	</script>