<!DOCTYPE html>
<html lang="en">
[#include "/common/head.html"/]
<head>
    <meta charset="UTF-8">
    <title>Center</title>
</head>
<body class="gray-bg">
<style>
    .formleft {
        margin-left: 10px;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 模态框（Modal） -->
    <form class="form-list form-inline">
        <div class="form-inline">
      <div class="form-group">
                
                <input type="text" class="form-control" name="search_LIKE_typeName" placeholder="请输入名称">
            </div>
             
             
            <div class="form-group formleft">
            
               <input type="text" class="form-control" name="search_LIKE_platformType" placeholder="请输入类型">
           
            </div>
            <div class="form-group formleft">
              <!-- value="${RequestParameters["beginCreateDate"]!.now?date+" 00:00:00"}" 设置默认查询时间 -->
                <input name="search_GTE_createdDate" class="form-control laydate-icon input-sm" readonly onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="创建时间(起)"  >
                -
                <input name="search_LTE_createdDate" class="form-control laydate-icon input-sm" readonly onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="创建时间(止)"  >
            </div>
            
               <div class="form-group">
                <button type="button"  class="mr-5 btn btn-sm btn-primary"  data-toggle="search"  style="width:100px;margin-left:20px"><i class="fa fa-search"></i>搜索</button>
                <button class="btn btn-sm filter-cancel formleft" style="width:100px;"><i class="fa fa-times"></i> 重置</button>
            </div>
        </div>
        <div class="form-inline" style="margin-top:10px">
             <div class="row text-right ext-mb10">
               [@shiro.hasPermission name="payPlatformType/create"] <a href="${ctx}/back/payPlatformType/create" class="btn btn-sm btn-info" data-toggle="modal" data-target="#ajax-modal"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>新增</a>[/@shiro.hasPermission]
            </div>
        </div>

    </form>

    <!-- ibox -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
					<div class="col-md-12 col-sm-12">
                        <div class="table-group-actions pull-right">选择了 <span>0</span> 条记录</div>
                    </div>
                    <div class="example-wrap">
                        <div class="example">
                            <table border="0" cellpadding="0" cellspacing="0" class="table" data-toggle="table" id="admin_list_table">
                                <thead>
                                <tr>
                                    <th>操作</th>
                                    <th><input type="checkbox" id="checkBoxAll"></th>
                                    <th data-sortable="true">支付类型名称</th>
                                    <th data-sortable="true">支付平台支付类型</th>
                                   <th>创建者</th>
                                    
                                   <th>创建时间</th>
                                    <th>最后修改人</th>
                                    <th>最后修改时间</th>
                                    
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="clearfix hidden-xs"></div>
            </div>
        </div>
    </div>

</div>

[#assign path="${ctx}/back/payPlatformType"/]

<script>
    function assemblyHref(a) {
        var selectedRows=[];
        $(".fixed-table-column input[type='checkbox'][name='id[]']:checked").each(function(){
        	selectedRows.push($(this).val());
        });
        //console.log(selectedRows.length)

        if(selectedRows.length == 0) {
            layer.alert("请选择一条记录！");
            //alert(a.attributes.onclick.value);
            $(a).attr("href","javascript:;");
            if($(a).attr("data-target") == "#ajax-modal")
            	$(a).removeAttr("data-toggle");
            return ;
        } else {
            if($(a).attr("data-target") == "#ajax-modal")
        		$(a).attr("data-toggle","modal");
            $(a).attr("href", $(a).attr("data") + selectedRows);
            selectedRows.length = 0;
            return true;
        }
    }

    var $table = $('#admin_list_table');

    grid.init({
        src: $table,
        bootstrapTable: {
            url: "${ctx}/back/payPlatformType",
            fixedColumns: true,
            fixedNumber: 3,//固定列（有问题-找高手解决）
            columns: [
                {
                    field: 'id',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var str = '<a href="javascript:;" class="dropdown-toggle label label-info" data-toggle="dropdown">' +
                                '<i class="fa fa-cog"></i> 操作 <b class="caret"></b></a>' +
                                '<ul class="dropdown-menu dropdown-menu-left dropdown-menu-tree">' +
                              
                                '[@shiro.hasPermission name="payPlatformType/update"]<li><a href="${path}/update/' + row.id + '" data-toggle="modal" data-target="#ajax-modal">修改</a></li>[/@shiro.hasPermission]' +
                                '[@shiro.hasPermission name="payPlatformType/delete"]<li><a href="${path}/delete/' + row.id + '" data-toggle="delete">删除</a></li>[/@shiro.hasPermission]' +
                                
                                  '</ul>';
                        return str;
                    }
                },{
                    field: 'id',
                    align: 'center',
                    formatter:checkBoxFormat,
                    switchable:false,
                },
                {
                    field: 'typeName',
                    align: 'center',
                } ,
                {
                    field: 'platformType',
                    align: 'center',
                     
                },{
                    field: 'createdBy',
                    align: 'center',
                },  {
                    field: 'createdDate',
                    align: 'center',
                }, {
                    field: 'lastModifiedBy',
                    align: 'center',
                },
                 
                {
                    field: 'lastModifieDate',
                    align: 'center',
                }
            ]
        }
    });
</script>
</body>

</html>