<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>支付跳转中.......</title>
  <script type="text/javascript" src="${ctx}/resources/js/jquery.min.js?v=2.1.4"></script>
  <script type="text/javascript" src="${ctx}/resources/js/jquery.qrcode.min.js"></script>
</head>
<body>
<script type="text/javascript">
  $(function () {
    var error = '${error}'
    if (error != null && error != '') {
      $('#message').html(error)
      var ua = navigator.userAgent
      var app = ua.indexOf('LotteryApp') > -1
      var android = ua.indexOf('Android') > -1
      var ios = ua.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/) //ios终端
      if (app || android || ios) {
        window.location.href = 'pay-success://'
      }
      return
    }

    $('#dataForm').attr('action', $('#postUrl').val())

    $('#dataForm').submit()

  })
</script>
<div id="message"></div>
<form action="#" method="post" id="dataForm" style="display: none;">
  [#list paramMap?keys as key]
  <input type="text" id="${key}" name="${key}" value="${paramMap['${key}']}"/>
  [/#list]
</form>
</body>
</html>

