<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>扫码支付</title>
 <!-- <script type="text/javascript" src="${ctx}/resources/js/jquery.min.js?v=2.1.4"></script>-->
  <script type="text/javascript" src="${ctx}/resources/js/jquery.qrcode.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var code = new QRCode(document.getElementById("code"), {
    text: "${returnUrl}",
    width: 200,
    height: 200,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
  });
</script>
<div id="code"></div>
</body>
</html>

