[#include "/common/taglibs.html"/]
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true"></button>
			<h4 class="modal-title">修改支付方式</h4>
		</div>

		<div class="modal-control">
		<div id="second-ajax-modal" class="modal fade" tabindex="-1"></div><!--弹出子菜单-->
			[@form.form commandName="updateDTO" method="POST"
			class="form-horizontal"] <input type="hidden" name="format"
				value="json"> <input type="hidden" name="rebatePoint"
				value="7.8">
			   <input type="hidden" name="id"
				value="${id}">
			 
				 <div class="modal-body">
				<div class="form-body">
				 
				 	<div class="form-group">
						


<div class="form-group">
						<label class="col-md-3 control-label">接入平台名称</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="platformName"] <input id="${status.expression}" value="${status.value!}" 
									name="${status.expression}" type="text" class="form-control"
									placeholder="平台名称"> [/@spring.bind]
							</div>
						</div>
					</div>
					
					  
					
					<div class="form-group">
						<label class="col-md-3 control-label">接入平台域名</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="memberDomain"] <input id="${status.expression}" value="${status.value!}" 
									name="${status.expression}" type="text" class="form-control"
									placeholder="平台域名"> [/@spring.bind]
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">平台号</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="memberId"] <input id="${status.expression}" value="${status.value!}" 
									name="${status.expression}" type="text" class="form-control"
									placeholder="平台号"> [/@spring.bind]
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">终端号</label>
						<div class="col-md-9">
							<div class="input-icon">
								[@spring.bind path="terminalId"] <input id="${status.expression}" value="${status.value!}" 
									name="${status.expression}" type="text" class="form-control"
									placeholder="终端号"> [/@spring.bind]
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">所属用户</label>
							<div class="controls">
							<div class="input-group">
								[@spring.bind path="userName"]
									<input id="${status.expression}" value="${status.value!}" name="${status.expression}" type="text" class="form-control input-s-xlg" placeholder="所属用户"/>
								[/@spring.bind]
								<span id="selectBtn" class="input-group-btn" style="display:inline-block;">
								<a class="btn btn-success" href="${ctx}/back/payUser/select-users" data-toggle="modal"
								   data-target="#second-ajax-modal"><i class="fa fa-user">选择用户</i></a>
							</span>
							</div>
						</div>
				   </div>
					
					 
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn blue btn-success">提交</button>
				</div>
				[/@form.form]
			</div>
		</div>
	</div>

	<script type="text/javascript">
 

		$('#updateDTO').validate({
			rules : {

				platformName : {
					required : true
				},
				memberId : {
					required : true
				} ,
				terminalId : {
					required : true
				} ,
				merKey : {
					required : true
				} 
			},
			messages : {
				platformName : {
					required : "接入平台名称不能为空！",
				},
				memberId : {
					required : "平台号不能为空！"
				} ,
				terminalId : {
					required : "终端号不能为空！"
				} ,
				merKey : {
					required : "秘钥不能为空！"
				} 
			}
		});

		$(function() {
		});
	</script>